@model WebApplication1.Models.Customer
@{
    ViewBag.Title = "_Modal";
}

@*<h2>_Modal</h2>*@

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Customer Info</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="@Url.Action("Edit","Customers")" method="post" class="form-control" id="customerForm">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ID)

        <div>
            <label>Name</label> <br />
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div>
            <label>Date Of Birth</label><br />
            @Html.TextBoxFor(x => x.Dob, new { @class = "form-control" })
        </div>
        <div>
            <label>Gender</label><br />
            @Html.TextBoxFor(x => x.Gender, new { @class = "form-control" })
        </div>
        <div>
            <label>Address</label><br />
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
        </div>
        <div>
            <label>Phone Number</label><br />
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        </div>
        <br />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary bttSave" data-id="@Model.ID" data-url="@Url.Action("EditModal","Customers")">Save Edit</button>
</div>
