@model PagedList.IPagedList<WebApplication1.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>List Customers </h2>



<p class="btn btn-light">
    @Html.ActionLink("Add New Customer", "Create")
</p>


<div></div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Gender
            </th>
            <th>
                Address
            </th>
            <th>
                PhoneNumber
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Customers", new { id = item.ID})">Edit</a> -
                    <a href="@Url.Action("Details","Customers", new { id = item.ID})">Details</a> -
                    <a href="@Url.Action("DeleteConfirm",new { id = item.ID})">Delete</a>
                </td>
            </tr>
        }


    </table>

@section Scripts {

    <script type="text/javascript">

    </script>

}


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))